<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Quiz</title>
	<meta charset="utf-8" />
</head>

<body>

	<h1 th:each="res : ${dbList}" th:text="${res.question}"></h1>

	<form method="get" action="#" th:action="@{/right}">
		<input type="submit" th:value="${res.name}" th:each="res : ${dbList}" >
	</form>

	<form method="get" action="#" th:action="@{/wrong}">
		<input type="submit" value="選択肢２">
	</form>

	<form method="get" action="#" th:action="@{/wrong}">
		<input type="submit" value="選択肢３">
	</form>

	<form method="get" action="#" th:action="@{/wrong}">
		<input type="submit" value="選択肢４">
	</form>


</body>

</html>